<div class="container mars">
	<div class="row">
		<h1>
        All Users
        </h1>
	</div>
   <% @users.each do |user| %>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg"/>
                </div>
                
                    <h3>@<%= link_to user.username, profile_path(user) %></h3>
                    <p><%= link_to "Follow", relationships_path(:friend_id => @user), method: :post, class: "button", class: "btn btn-labeled btn-info" %></p>
                    
            </div>
        </div>
    </div>
    <br/>
  <% end %>
</div>